[submodule "Dependencies/Detours"]
	path = Dependencies/Detours
	url = https://github.com/Nukem9/detours.git
[submodule "Dependencies/mzip"]
	path = Dependencies/mzip
	url = https://github.com/kuba--/zip.git
[submodule "Dependencies/mINI"]
	path = Dependencies/mINI
	url = https://github.com/Perchik71/mINI.git
[submodule "Dependencies/libdeflate"]
	path = Dependencies/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "Dependencies/jDialogs"]
	path = Dependencies/jDialogs
	url = https://github.com/Perchik71/jDialogs.git
